
.NavBarCollapse {
    flex-grow: 0;
}
.item {
    --bs-nav-link-hover-color: #0d85fd;
    --bs-nav-link-font-size: 22px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.Title{
    font-family: "Modak", cursive;
    font-size: xx-large;
    align-self: center;
    margin-bottom: 5px;
    margin-left: 10px;
}
.Brand{
    display: flex;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}
.vr{
    width: 1px;
    min-height: auto;
    background: radial-gradient(#0d85fd,black);
    opacity: initial;
}

.NavBar {
    width: -webkit-fill-available;
    z-index: 1;
    position: fixed;
    box-shadow: 0 5px 10px #0d85fd;
    min-height: 60px;
    background-color: Black;
}
.Container {
    --bs-gutter-x: 0;
    margin-left: 1%;
    margin-right: 1%;
    max-width: none;
}
.me-auto {
    margin: auto;
}
.FaHome{
    margin-bottom: 4px;
}
.BsPersonBadge{
    margin-bottom: 6px;
}
.BsTerminal{
    margin-bottom: 4px;
}
.MdContactPhone{
    margin-bottom: 3px;
}
